<section class="skills" *ngFor="let pData of personalData$">
  <h3 class="">Skills
    <span class="pull-right">
      <i class="fa fa-html5"></i>
      <i class="fa fa-css3"></i>
      <i class="jquery"></i>
    </span>
  </h3>
  <ul class="d-flex flex-wrap">
    <li *ngFor="let skills of pData.skills" class="flex-fill mb-3">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{ skills.skill}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </li>
  </ul>
</section>
