<div class="container">
  <nav>
    <ul class="nav d-flex">
      <li class="nav-item flex-fill"><a class="nav-link" routerLink=""> Bio</a></li>
      <li class="nav-item flex-fill"><a class="nav-link" routerLink="skills"> Skills</a></li>
      <li class="nav-item flex-fill"><a class="nav-link" routerLink="education"> Education</a></li>
      <li class="nav-item flex-fill"><a class="nav-link" routerLink="experience"> Experience</a></li>
      <li class="nav-item flex-fill"><a class="nav-link" routerLink="interests"> interests</a></li>
      <li class="nav-item flex-fill"><a class="nav-link" routerLink="contact"> Contact</a></li>
    </ul>
  </nav>
</div>
