<div class='container'>
  <nav>
    <!-- <ul class="nav d-flex">
      <li *ngFor="let navItem of navList" routerLinkActive="active" class="tab nav-item">
        <a class="nav-link" routerLink="{{navItem.routeLink}}">{{navItem.navItemName}}</a>
      </li>
    </ul> -->

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink ie-nav fixed-top" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" href="#"><strong>Barry Prendergast</strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" mdbWavesEffect class="nav-item waves-light">
              <a class="nav-link" routerLink="lazy-skills">Lazy-Skills</a></li>
            <li *ngFor="let navItem of navList" routerLinkActive="active" mdbWavesEffect class="nav-item waves-light">
              <a class="nav-link" routerLink="{{navItem.routeLink}}">{{navItem.navItemName}}</a>
            </li>
              <!-- <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Features</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Pricing</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Opinions</a>
              </li> -->
          </ul>
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
              </li>
          </ul>
      </links>
    </mdb-navbar>
  </nav>
</div>


<!-- Main -->
<!-- <main>
  <div class="container" style="height:1500px;">
      <div class="row pt-5">
          <div class="col text-center">
              <h2>This Navbar is fixed</h2>
              <h5>It will always stay visible on the top, even when you scroll down</h5>
          </div>
      </div>
  </div>
</main> -->
<!-- /.Main -->
