<section class="personal clearfix" *ngFor="let pdata of personalData$">
  <h3>Personal Info</h3>
  <div class="col-md-12">
      <figure class="col-sm-3 center">
          <img class="img-responsive" alt="" src="{{pdata.img}}">
      </figure>
      <div class="details">
          <p>Hi, I'm Barry, I am a <strong>Senior Front End Developer</strong>. I have been working on the front end of websites for many years and really enjoy it. I love writing clean efficient code and keeping up to date with front end trends. I have more than 10 years experience working with <strong>HTML</strong> and <strong>CSS</strong> and more recently adding <strong>Javascript</strong> and <strong>Angular.js</strong> to my skill set, as well as <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>LESS/SCSS</strong>, <strong>Bootstrap</strong>, <strong>GIT</strong><strong>Node(Gulp/Grunt).</strong> Creating pixel perfect responsive UX layouts are what I most enjoy working on as well as investigating new techniques like css grid and investigating frameworks like Veu.js, Reactjs and Angular.</p>
      </div>
  </div>
</section>
