<section class="container">
  <mat-card>
    <!-- <app-material-card> -->
    <!-- <mat-card-content> -->
    <p>sections works!</p>
    <app-header></app-header>
    <app-bio></app-bio>
    <app-skills></app-skills>
    <app-career-history></app-career-history>
    <app-education></app-education>
    <app-interests></app-interests>
    <app-material-slider></app-material-slider>
    <app-material-menu></app-material-menu>
    <!-- </mat-card-content> -->
    <!-- </app-material-card> -->
    dfñjkghsñdfjk
  </mat-card>
</section>
